.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--navbar-bg-color);
}

.links {
  a {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
